div.location form {
  display: inline-block;
  vertical-align: top;
  width: 24%;
  height: 150px;
  background-color: blue;
  color: white;
}
.win {
  color: green;
}
.loss {
  color: red;
}
div.activities {
  height: 200px;
  overflow: scroll;
  background-color: whitesmoke;
  border: 1px solid grey;
}
